<li>
	{{name}}

	<button class="change-food" data-id="{{id}}" data-newfood="{{food}}">
		{{#if food}}FOOD TIME!{{else}}WAKE UP!{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
</li>